@model IEnumerable<HopDongMgr.Models.CN_HopDong>
@using HopDongMgr.Models;
@{
    ViewBag.Title = "DANH SÁCH HỢP ĐỒNG";
    ViewBag.ThongBaoXoa = "Bạn có chắc chắn muốn xóa hợp đồng này không?";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@*<link href="~/Content/dataTables.1.10.16/jquery.dataTables.min.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/dataTables.1.10.16/dataTables.semanticui.min.css" rel="stylesheet" type="text/css">
    <link href="~/Content/bootstrap-toggle.min.css" rel="stylesheet" type="text/css">
    <link href="~/Content/dataTables.Ajax.semantic-ui/dataTables.semanticui.min.css" rel="stylesheet" type="text/css">
    <link href="~/Content/dataTables.1.10.16.Responsive.semanticui/responsive.semanticui.min.css" rel="stylesheet" type="text/css">
    @*<link href="https://cdn.datatables.net/1.10.16/css/dataTables.semanticui.min.css" rel="stylesheet" type="text/css">*@
@*<link href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.3.0/semantic.min.css" rel="stylesheet" type="text/css">*@
@*<link href="~/Content/dataTables.semantic-ui.2.3.0/semantic.min.css" rel="stylesheet" type="text/css">*@

@*toggel Đồng ý*@
<div class="modal modal-danger fade in" id="modal-danger-DongBo" style="display: none; padding-right: 17px;">
    <div class="modal-dialog modal-MD">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
                <h4 class="modal-title">Thông báo</h4>
            </div>
            <div class="modal-body">
                <p>Đồng bộ danh mục Hợp đồng từ chương trình ĐTXD</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-outline pull-left" data-dismiss="modal">Đóng</button>
                <button type="button" class="btn btn-outline" data-dismiss="modal" id="btnDongYDB">Đồng ý</button>
            </div>
        </div>
    </div>
</div>
@*---------*@

<div class="form-horizontal">
    <div class="form-group">
        <label class="control-label col-md-2">Năm giao A</label>
        <div class="col-md-2">
            <input class="form-control Number" id="NamGiaoA" type="text" value="">
        </div>
        <label class="control-label col-md-2">Năm ký HD</label>
        <div class="col-md-2">
            <input class="form-control Number" id="NamKyHD" type="text" value="">
        </div>
        <label class="control-label col-md-2">Hoàn thành</label>
        <div class="col-md-2">
            <input type="checkbox" class="cbootstrapSwitch" id="IsHoanThanh" data-off-color="danger" />
        </div>
    </div>

    <div class="form-group" style="display:none">
        <label class="control-label col-md-2">Mã công trình</label>
        <div class="col-md-6">
            <input class="form-control" id="MaCT" type="text" value="">
        </div>
    </div>
    <div class="box-header">
        <input type="button" value="Tìm kiếm" class="btn btn-default" id="btnTimKiem" />
        <input type="button" value="Thêm mới" class="btn btn-info" onclick="location.href='@Url.Action("Create")'" />
        <input type="button" value="Đồng Bộ" class="btn" id="btnDongBo" data-toggle="modal" data-target="#modal-danger-DongBo" style="display:none" />
        <div class="btn-group">
            <button type="button" class="btn btn-info">Action</button>
            <button type="button" class="btn btn-warning dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <span class="caret"></span>
                <span class="sr-only">Toggle Dropdown</span>
            </button>
            <ul class="dropdown-menu">
                <li><a class="CapNhat" href="#">Cập nhật</a></li>
                <li><a class="ThanhLy" href="#">Thanh lý</a></li>
                <li><a class="XuPhat" href="#">Xử phạt</a></li>
                <li role="separator" class="divider"></li>
                <li><a class="HDHetHan" href="#">DS Hợp đồng hết hạn</a></li>
            </ul>
        </div>
        <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
            Button with data-target
        </button>
        <div class="collapse" id="collapseExample">
            <div class="container-fluid">
                @using (Ajax.BeginForm(
                actionName: "SeachIndex",
                controllerName: "CN_HopDong",
                ajaxOptions: new AjaxOptions
                {
                    HttpMethod = "GET",
                    InsertionMode = InsertionMode.Replace,
                    UpdateTargetId = "DataUpdate",
                },
                routeValues: null,
                htmlAttributes: new { @class = "form-horizontal" }
                ))
                {
                    <div class="form-group">
                        <div class="col-md-3 col-md-offset-9">
                            <input class="form-control" type="text" name="Seach" id="Seach" placeholder="Tìm kiếm: Mã CT, Tên CT" />
                        </div>

                    </div>
                    <div class="form-group">
                        <label for="inputEmail3" class="col-sm-2 control-label">Email</label>
                        <div class="col-sm-10">
                            <input type="email" class="form-control" id="inputEmail3" placeholder="Email">
                        </div>
                    </div>
                    <input id="submit" type="submit" hidden />
                }
            </div>
        </div>
    </div>
</div>
@using (Ajax.BeginForm(
        "SeachIndex",
        //"Controler",
        ajaxOptions: new AjaxOptions
        {
            HttpMethod = "GET",
            InsertionMode = InsertionMode.Replace,
            UpdateTargetId = "DataUpdate"
        }))
{
    <div class="container">
        <div class="row col-md-12">
            <DIV class="col-md-3 col-md-offset-9">
                <input class="form-control" type="text" name="Seach" id="Seach" placeholder="Tìm kiếm: Mã CT, Tên CT" />
            </DIV>

            <input id="submit" type="submit" hidden />
        </div>
    </div>
}
<div id="DataUpdate" class="table-responsive">
    @Html.Partial("_IndexPartial")
</div>
<input type="hidden" id="IdSelected"  />

@section scripts{
    <script type="text/javascript">
            $(document).ready(function () {
                $('#btnTimKiem').click(function () {
                    var NamGiaoA = $("#NamGiaoA").val();
                    var NamKyHD = $("#NamKyHD").val();
                    var MaCT = $("#MaCT").val();
                    if (NamGiaoA == "") NamGiaoA = "-1";
                    if (NamKyHD == "") NamKyHD = "-1";
                    var IsHoanThanh = $("#IsHoanThanh").bootstrapSwitch('state')
                    var url = '@Url.Action("Index", "CN_HopDong")';
                    url += '?NamGiaoA=' + NamGiaoA + '&NamKyHD=' + NamKyHD + '&MaCT=' + MaCT + '&IsHoanThanh=' + IsHoanThanh;
                    window.location.href = url;
                });

                $('#btnDongYDB').click(function () {
                    Loading();
                    $.ajax({
                        url: "/CN_HopDong/DongBo_CNHopDong",
                        dataType: "json",
                        type: "POST",
                        contentType: 'application/json; charset=utf-8',
                        async: true,
                        processData: false,
                        cache: false,
                        success: function (data) {
                            if (data == "1") {
                                LoadingHide();
                                $.notify({
                                    title: '<strong>Thông báo</strong>:',
                                    message: 'Đồng bộ thành công'
                                }, {
                                    type: 'info'
                                });
                            }
                            else {
                                $.notify({
                                    title: '<strong>Thông báo</strong>:',
                                    message: data + 'Có lỗi xảy ra khi đồng bộ'
                                }, {
                                    type: 'danger'
                                });

                                console.log(data);
                                LoadingHide();
                            }
                        },
                        error: function (xhr) {
                            console.log("error: " + data + " status: " + status + " er:" + er);
                        }
                    });

                });

                $("#ListItem tbody").on("click", "tr", function () {
                    alert($(this).attr("Id"));
                    var value = $(this).attr("Id");
                    $("#ListItem tbody tr").removeClass("info");
                    $(this).addClass("info");
                    $("#IdSelected").val(value);
                });
                $('.dropdown-menu').on('click', 'li', function () {
                    alert($('a', this).attr('class'));
                    var idSelected = $("#IdSelected").val();
                    alert(idSelected);
                    if (idSelected != undefined || idSelected != "") {
                        var valueItem = ($('a', this).attr('class'));
                        switch (valueItem) {
                            case "CapNhat":
                                var url = '/CN_HopDong/Edit/' + idSelected;
                                window.location.href = url;
                                break;
                            case "ThanhLy":
                                var url = '@Url.Action("Create", "CN_ThanhLy", new { idhd = "ID_replaCe" })';
                                url = url.replace('ID_replaCe', idSelected);
                                window.location.href = url;
                                break;
                            case "XuPhat":
                                var url = '/CN_HopDong/Edit_XuPhatTranhChap/' + idSelected;
                                window.location.href = url;
                                break;
                            case "HDHetHan":
                                var url = '/CN_HopDong/Index_HetHanDieuChinh';
                                window.location.href = url;
                                break;
                            default:
                        }
                    } else {
                        $.notify({
                            // options
                            message: 'Bạn chưa chọn dòng nào'
                        }, {
                            // settings
                            type: 'danger'
                        });
                    }
                    });

            });
            $('.Number').maskNumber({
                  integer: true,
                  thousands: ''
              });

    </script>
    <script src="~/Scripts/bootstrap-toggle.min.js"></script>
}
