@model IEnumerable<HopDongMgr.Models.CN_HopDong>
@using HopDongMgr.Models;
@{
    ViewBag.Title = "DANH SÁCH HỢP ĐỒNG";
    ViewBag.ThongBaoXoa = "Bạn có chắc chắn muốn xóa hợp đồng này không?";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@*<link href="~/Content/dataTables.1.10.16/jquery.dataTables.min.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/dataTables.1.10.16/dataTables.semanticui.min.css" rel="stylesheet" type="text/css">
    <link href="~/Content/bootstrap-toggle.min.css" rel="stylesheet" type="text/css">
    <link href="~/Content/dataTables.Ajax.semantic-ui/dataTables.semanticui.min.css" rel="stylesheet" type="text/css">
    <link href="~/Content/dataTables.1.10.16.Responsive.semanticui/responsive.semanticui.min.css" rel="stylesheet" type="text/css">
    @*<link href="https://cdn.datatables.net/1.10.16/css/dataTables.semanticui.min.css" rel="stylesheet" type="text/css">*@
@*<link href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.3.0/semantic.min.css" rel="stylesheet" type="text/css">*@
@*<link href="~/Content/dataTables.semantic-ui.2.3.0/semantic.min.css" rel="stylesheet" type="text/css">*@

@*toggel Đồng ý*@
<div class="modal modal-danger fade in" id="modal-danger-DongBo" style="display: none; padding-right: 17px;">
    <div class="modal-dialog modal-MD">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
                <h4 class="modal-title">Thông báo</h4>
            </div>
            <div class="modal-body">
                <p>Đồng bộ danh mục Hợp đồng từ chương trình ĐTXD</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-outline pull-left" data-dismiss="modal">Đóng</button>
                <button type="button" class="btn btn-outline" data-dismiss="modal" id="btnDongYDB">Đồng ý</button>
            </div>
        </div>
    </div>
</div>
@*---------*@

<div class="container px-0">
    <div class="row no-gutters">
        <div class="box-header col">
            <input type="button" value="Thêm mới" class="btn btn-info" onclick="location.href='@Url.Action("Create")'" />
            <input type="button" value="Đồng Bộ" class="btn" id="btnDongBo" data-toggle="modal" data-target="#modal-danger-DongBo" style="display:none" />
            <div class="btn-group">
                <button type="button" class="btn btn-info">Chức năng</button>
                <button type="button" class="btn btn-warning dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <span class="caret"></span>
                    <span class="sr-only">Toggle Dropdown</span>
                </button>
                <div class="dropdown-menu">
                    <a class="CapNhat dropdown-item" href="#">Cập nhật</a>
                    <a class="ThanhLy dropdown-item" href="#">Thanh lý</a>
                    <a class="XuPhat dropdown-item" href="#">Xử phạt</a>
                    <div class="dropdown-divider"></div>
                    <a class="HDHetHan dropdown-item" href="#">DS Hợp đồng hết hạn</a>
                </div>
            </div>
            <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">Tìm kiếm </button>
            <div class="collapse" id="collapseExample">
                <div class="box-body">
                    @using (Ajax.BeginForm(
                    actionName: "Index",
                    controllerName: "CN_HopDong",
                    ajaxOptions: new AjaxOptions
                    {
                        HttpMethod = "GET",
                        InsertionMode = InsertionMode.Replace,
                        UpdateTargetId = "DataUpdate",
                    },
                    routeValues: null,
                    htmlAttributes: new { @class = "form-horizontal" }
                    ))
                    {
                        <div class="form-group row ">
                            <div class="col-md-2 pt-1">
                                <input type="text" class="form-control" id="SoHopDong" name="SoHopDong" placeholder="Số hợp đồng">
                            </div>
                            <div class="col-md-2 pt-1">
                                <input type="text" class="form-control " id="TenCT" name="TenCT" placeholder="Tên Công trình">
                            </div>
                            <div class="col-md-2 pt-1">
                                <input type="number" class="form-control" id="NamGiaoA" name="NamGiaoA" placeholder="Năm giao A">
                            </div>
                            <div class="col-md-4 pt-1">
                                <select class="form-control" id="IsHoanThanh" name="IsHoanThanh">
                                    <option value="-1" selected>Tất cả công trình</option>
                                    <option value="1">Công trình hoàn thành</option>
                                    <option value="0">Công trình chưa hoàn thành</option>
                                </select>
                            </div>
                        </div>
                        <input id="submit" type="submit" hidden />
                    }
                </div>
            </div>
        </div>
    </div>
</div>
<div id="DataUpdate" class="table-responsive">
    @Html.Partial("_IndexPartial")
</div>
<input type="hidden" id="IdSelected" />

@section scripts{
    <script type="text/javascript">
            $(document).ready(function () {
                $('#btnTimKiem').click(function () {
                    var NamGiaoA = $("#NamGiaoA").val();
                    var NamKyHD = $("#NamKyHD").val();
                    var MaCT = $("#MaCT").val();
                    if (NamGiaoA == "") NamGiaoA = "-1";
                    if (NamKyHD == "") NamKyHD = "-1";
                    var IsHoanThanh = $("#IsHoanThanh").bootstrapSwitch('state')
                    var url = '@Url.Action("Index", "CN_HopDong")';
                    url += '?NamGiaoA=' + NamGiaoA + '&NamKyHD=' + NamKyHD + '&MaCT=' + MaCT + '&IsHoanThanh=' + IsHoanThanh;
                    window.location.href = url;
                });

                $('#btnDongYDB').click(function () {
                    Loading();
                    $.ajax({
                        url: "/CN_HopDong/DongBo_CNHopDong",
                        dataType: "json",
                        type: "POST",
                        contentType: 'application/json; charset=utf-8',
                        async: true,
                        processData: false,
                        cache: false,
                        success: function (data) {
                            if (data == "1") {
                                LoadingHide();
                                $.notify({
                                    title: '<strong>Thông báo</strong>:',
                                    message: 'Đồng bộ thành công'
                                }, {
                                    type: 'info'
                                });
                            }
                            else {
                                $.notify({
                                    title: '<strong>Thông báo</strong>:',
                                    message: data + 'Có lỗi xảy ra khi đồng bộ'
                                }, {
                                    type: 'danger'
                                });

                                console.log(data);
                                LoadingHide();
                            }
                        },
                        error: function (xhr) {
                            console.log("error: " + data + " status: " + status + " er:" + er);
                        }
                    });

                });
                $('.dropdown-menu').on('click', 'a', function () {
                    //alert($(this).attr('class').replace(' dropdown-item', ''));
                    var idSelected = $("#IdSelected").val();
                    console.log(idSelected);
                    if (idSelected != undefined && idSelected != "") {
                        var valueItem = ($(this).attr('class').replace(' dropdown-item', ''));
                        switch (valueItem) {
                            case "CapNhat":
                                var url = '/CN_HopDong/Edit/' + idSelected;
                                window.location.href = url;
                                break;
                            case "ThanhLy":
                                var url = '@Url.Action("Create", "CN_ThanhLy", new { idhd = "ID_replaCe" })';
                                url = url.replace('ID_replaCe', idSelected);
                                window.location.href = url;
                                break;
                            case "XuPhat":
                                var url = '/CN_HopDong/Edit_XuPhatTranhChap/' + idSelected;
                                window.location.href = url;
                                break;
                            case "HDHetHan":
                                var url = '/CN_HopDong/Index_HetHanDieuChinh';
                                window.location.href = url;
                                break;
                            default:
                        }
                    } else {
                        $.notify({
                            // options
                            message: 'Bạn chưa chọn dòng nào'
                        }, {
                            // settings
                            type: 'danger'
                        });
                    }
                    });

            });
            $('.Number').maskNumber({
                  integer: true,
                  thousands: ''
              });

    </script>
    <script src="~/Scripts/bootstrap-toggle.min.js"></script>
    <script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>
}
