@model IEnumerable<HopDongMgr.Models.HT_Nhom>

@{
    ViewBag.Title = "PHÂN QUYỀN CHỨC NĂNG";
}

<script src="~/Scripts/App/PhanQuyen.js"></script>
<style>
    tr.group,
    tr.group:hover {
    background-color: #ddd !important;
}
</style>
<div class="row">
    <div class="col-sm-5">
        <table id="datatable_Nhom" class="display nowrap dataTable dtr-inline" cellspacing="0" role="grid" aria-describedby="example_info" style="width: 100%;">
            <thead>
                <tr role="row">
                    <th style="display: none">Id</th>
                    <th>Tên nhóm</th>
                    <th>Đơn vị quản lý</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr id="@item.Id">
                        <td style="display: none">
                            @Html.DisplayFor(modelItem => item.Id)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Ten)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.DM_DONVI.TEN_DVIQLY)
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
    <div class="col-sm-7">
        <div id="listPQ"></div>
    </div>
</div>

<script type="text/javascript">
    var table = $('#datatable_Nhom').DataTable({
        select: true,
        "lengthMenu": [50, 100 ],
        "paging": true,
        "dom": 'lfrtip',
        language: {
            url: "//cdn.datatables.net/plug-ins/1.10.15/i18n/Vietnamese.json"
        },
        aaSorting: [],
        select: {
            style: 'single'
        },
        "columnDefs": [
                   { "visible": false, "targets": 2 }
        ],
        //"order": [[1, 'asc']],
        //"displayLength": 25,
        "drawCallback": function (settings) {
            var api = this.api();
            var rows = api.rows({ page: 'current' }).nodes();
            var last = null;

            api.column(2, { page: 'current' }).data().each(function (group, i) {
                if (last !== group) {
                    $(rows).eq(i).before(
                        '<tr class="group"><td colspan="2">' + group + '</td></tr>'
                    );

                    last = group;
                }
            });
        }
    }   );
    //$('.datatable_Nhom').addClass('pull-left');
    table.on('select', function (e, dt, type, indexes) {
        var rowData = table.rows(indexes).data().toArray();
        var id = rowData[0][0];

        $.ajax({
            url: "/HT_Nhom_ChucNang/GetPhanQuyen/" + id,
            type: 'GET',
            cache: false,
            success: function (data) {
                $('#listPQ').html(data);
            },
            error: function (data, status, er) {
                console.log("error: " + data + " status: " + status + " er:" + er);
            }
        });

    });
</script>